OpenBillsWeb/src/wsdl/localhost_8080/ExtractTransformLoad/CandidatoServiceService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webServices.extracttransformload.pos.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webServices.extracttransformload.pos.com/">

<xs:element name="dadosCandidato" type="tns:dadosCandidato"/>

<xs:element name="obterDadosDeCandidato" type="tns:obterDadosDeCandidato"/>

<xs:element name="obterDadosDeCandidatoResponse" type="tns:obterDadosDeCandidatoResponse"/>

<xs:complexType name="obterDadosDeCandidato">
<xs:sequence>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obterDadosDeCandidatoResponse">
<xs:sequence>
<xs:element name="return" type="tns:dadosCandidato" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dadosCandidato">
<xs:sequence>
<xs:element name="anoCandidatura" type="xs:string" minOccurs="0"/>
<xs:element name="ds_cargo" type="xs:string" minOccurs="0"/>
<xs:element name="no_cand" type="xs:string" minOccurs="0"/>
<xs:element name="no_ue" type="xs:string" minOccurs="0"/>
<xs:element name="nr_cand" type="xs:string" minOccurs="0"/>
<xs:element name="sg_part" type="xs:string" minOccurs="0"/>
<xs:element name="sg_ue" type="xs:string" minOccurs="0"/>
<xs:element name="vr_despesas" type="xs:double"/>
<xs:element name="vr_receitas" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>