OpenBillsWeb/src/wsdl/localhost_8080/ExtractTransformLoad/CandidatoServiceService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webServices.extracttransformload.pos.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webServices.extracttransformload.pos.com/">

<xs:element name="CandidatoNaoEncontradoExcetpion" type="tns:CandidatoNaoEncontradoExcetpion"/>

<xs:element name="dadosCompletosCandidato" type="tns:dadosCompletosCandidato"/>

<xs:element name="dadosResumidosCandidato" type="tns:dadosResumidosCandidato"/>

<xs:element name="doador" type="tns:doador"/>

<xs:element name="listarCandidatosPorNome" type="tns:listarCandidatosPorNome"/>

<xs:element name="listarCandidatosPorNomeResponse" type="tns:listarCandidatosPorNomeResponse"/>

<xs:element name="listarDoadoresPorNome" type="tns:listarDoadoresPorNome"/>

<xs:element name="listarDoadoresPorNomeResponse" type="tns:listarDoadoresPorNomeResponse"/>

<xs:element name="obterDadosDeCandidato" type="tns:obterDadosDeCandidato"/>

<xs:element name="obterDadosDeCandidatoResponse" type="tns:obterDadosDeCandidatoResponse"/>

<xs:complexType name="obterDadosDeCandidato">
<xs:sequence>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="ano" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obterDadosDeCandidatoResponse">
<xs:sequence>
<xs:element name="return" type="tns:dadosCompletosCandidato" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dadosCompletosCandidato">
<xs:sequence>
<xs:element name="anoCandidatura" type="xs:string" minOccurs="0"/>
<xs:element name="despesas" type="tns:despesaCandidato" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ds_cargo" type="xs:string" minOccurs="0"/>
<xs:element name="no_cand" type="xs:string" minOccurs="0"/>
<xs:element name="no_ue" type="xs:string" minOccurs="0"/>
<xs:element name="nr_cand" type="xs:string" minOccurs="0"/>
<xs:element name="receitas" type="tns:receitaCandidato" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sg_part" type="xs:string" minOccurs="0"/>
<xs:element name="sg_ue" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="despesaCandidato">
<xs:sequence>
<xs:element name="cpfDoFornecedor" type="xs:string" minOccurs="0"/>
<xs:element name="dataDespesa" type="xs:string" minOccurs="0"/>
<xs:element name="nomeFornecedor" type="xs:string" minOccurs="0"/>
<xs:element name="tipoDespesa" type="xs:string" minOccurs="0"/>
<xs:element name="ufFornecedor" type="xs:string" minOccurs="0"/>
<xs:element name="valorDespesa" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="receitaCandidato">
<xs:sequence>
<xs:element name="cpfDoDoador" type="xs:string" minOccurs="0"/>
<xs:element name="dataReceita" type="xs:string" minOccurs="0"/>
<xs:element name="nomeDoador" type="xs:string" minOccurs="0"/>
<xs:element name="tipoRecurso" type="xs:string" minOccurs="0"/>
<xs:element name="ufDoador" type="xs:string" minOccurs="0"/>
<xs:element name="valorReceita" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CandidatoNaoEncontradoExcetpion">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarDoadoresPorNome">
<xs:sequence>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarDoadoresPorNomeResponse">
<xs:sequence>
<xs:element name="doadores" type="tns:doador" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="doador">
<xs:sequence>
<xs:element name="cpfDoador" type="xs:string" minOccurs="0"/>
<xs:element name="doacoes" type="tns:doacao" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="nomeDoador" type="xs:string" minOccurs="0"/>
<xs:element name="ufDoador" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="doacao">
<xs:sequence>
<xs:element name="dataDoacao" type="xs:string" minOccurs="0"/>
<xs:element name="nomeCandidato" type="xs:string" minOccurs="0"/>
<xs:element name="partidoCandidato" type="xs:string" minOccurs="0"/>
<xs:element name="valorDoado" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarCandidatosPorNome">
<xs:sequence>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarCandidatosPorNomeResponse">
<xs:sequence>
<xs:element name="candidatos" type="tns:dadosResumidosCandidato" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dadosResumidosCandidato">
<xs:sequence>
<xs:element name="anoCampanha" type="xs:string" minOccurs="0"/>
<xs:element name="cargo" type="xs:string" minOccurs="0"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="partido" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>