OpenBillsWeb/src/wsdl/localhost_8080/ExtractTransformLoad/ComiteService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webServices.extracttransformload.pos.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webServices.extracttransformload.pos.com/">

<xs:element name="comite" type="tns:comite"/>

<xs:element name="listarComites" type="tns:listarComites"/>

<xs:element name="listarComitesResponse" type="tns:listarComitesResponse"/>

<xs:complexType name="listarComites">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarComitesResponse">
<xs:sequence>
<xs:element name="comites" type="tns:comite" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comite">
<xs:sequence>
<xs:element name="despesas" type="tns:despesaComite" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ds_orgao" type="xs:string" minOccurs="0"/>
<xs:element name="receitas" type="tns:receitaComite" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sg_part" type="xs:string" minOccurs="0"/>
<xs:element name="sg_uf" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="despesaComite">
<xs:sequence>
<xs:element name="cd_cpf_cgc" type="xs:string" minOccurs="0"/>
<xs:element name="ds_titulo" type="xs:string" minOccurs="0"/>
<xs:element name="dt_docreceita" type="xs:string" minOccurs="0"/>
<xs:element name="no_for" type="xs:string" minOccurs="0"/>
<xs:element name="sg_uf_fornecedor" type="xs:string" minOccurs="0"/>
<xs:element name="vr_despesa" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="receitaComite">
<xs:sequence>
<xs:element name="cd_cpf_cgc_doa" type="xs:string" minOccurs="0"/>
<xs:element name="dt_receita" type="xs:string" minOccurs="0"/>
<xs:element name="no_doador" type="xs:string" minOccurs="0"/>
<xs:element name="sg_uf_doador" type="xs:string" minOccurs="0"/>
<xs:element name="tp_recurso" type="xs:string" minOccurs="0"/>
<xs:element name="vr_receita" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>