OpenBillsWeb/src/wsdl/localhost_8080/ComiteServiceService/ComiteService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webServices.extracttransformload.pos.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webServices.extracttransformload.pos.com/">

<xs:element name="despesaComite" type="tns:despesaComite"/>

<xs:element name="obterComiteComMaioresDispesas" type="tns:obterComiteComMaioresDispesas"/>

<xs:element name="obterComiteComMaioresDispesasResponse" type="tns:obterComiteComMaioresDispesasResponse"/>

<xs:element name="obterComiteComMaioresReceitas" type="tns:obterComiteComMaioresReceitas"/>

<xs:element name="obterComiteComMaioresReceitasResponse" type="tns:obterComiteComMaioresReceitasResponse"/>

<xs:element name="receitaComite" type="tns:receitaComite"/>

<xs:complexType name="obterComiteComMaioresReceitas">
<xs:sequence>
<xs:element name="ano" type="xs:int" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="qtdeResul" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obterComiteComMaioresReceitasResponse">
<xs:sequence>
<xs:element name="return" type="tns:receitaComite" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="receitaComite">
<xs:sequence>
<xs:element name="ano" type="xs:string" minOccurs="0"/>
<xs:element name="cd_cpf_cnpj_doador" type="xs:string" minOccurs="0"/>
<xs:element name="cd_esp_recurso" type="xs:string" minOccurs="0"/>
<xs:element name="cd_titulo" type="xs:string" minOccurs="0"/>
<xs:element name="ds_esp_recurso" type="xs:string" minOccurs="0"/>
<xs:element name="ds_orgao" type="xs:string" minOccurs="0"/>
<xs:element name="ds_titulo" type="xs:string" minOccurs="0"/>
<xs:element name="dt_receita" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long"/>
<xs:element name="nm_doador" type="xs:string" minOccurs="0"/>
<xs:element name="nm_membro" type="xs:string" minOccurs="0"/>
<xs:element name="nm_ue" type="xs:string" minOccurs="0"/>
<xs:element name="nm_ue1" type="xs:string" minOccurs="0"/>
<xs:element name="nr_cnpj" type="xs:string" minOccurs="0"/>
<xs:element name="nr_cpf" type="xs:string" minOccurs="0"/>
<xs:element name="nr_partido" type="xs:string" minOccurs="0"/>
<xs:element name="sg_partido" type="xs:string" minOccurs="0"/>
<xs:element name="sg_ue" type="xs:string" minOccurs="0"/>
<xs:element name="sg_ue1" type="xs:string" minOccurs="0"/>
<xs:element name="sg_ue_superior" type="xs:string" minOccurs="0"/>
<xs:element name="sg_ue_superior1" type="xs:string" minOccurs="0"/>
<xs:element name="situacaocadastral" type="xs:string" minOccurs="0"/>
<xs:element name="vr_receita" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obterComiteComMaioresDispesas">
<xs:sequence>
<xs:element name="ano" type="xs:int" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="qtdeResul" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obterComiteComMaioresDispesasResponse">
<xs:sequence>
<xs:element name="return" type="tns:despesaComite" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="despesaComite">
<xs:sequence>
<xs:element name="ano" type="xs:string" minOccurs="0"/>
<xs:element name="cd_cpf_cnpj_fornecedor" type="xs:string" minOccurs="0"/>
<xs:element name="cd_esp_recurso" type="xs:string" minOccurs="0"/>
<xs:element name="cd_tipo_documento" type="xs:string" minOccurs="0"/>
<xs:element name="cd_titulo" type="xs:string" minOccurs="0"/>
<xs:element name="ds_esp_recurso" type="xs:string" minOccurs="0"/>
<xs:element name="ds_nr_documento" type="xs:string" minOccurs="0"/>
<xs:element name="ds_orgao" type="xs:string" minOccurs="0"/>
<xs:element name="ds_tipo_documento" type="xs:string" minOccurs="0"/>
<xs:element name="ds_titulo" type="xs:string" minOccurs="0"/>
<xs:element name="dt_despesa" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long"/>
<xs:element name="nm_fornecedor" type="xs:string" minOccurs="0"/>
<xs:element name="nm_membro" type="xs:string" minOccurs="0"/>
<xs:element name="nm_ue" type="xs:string" minOccurs="0"/>
<xs:element name="nm_ue1" type="xs:string" minOccurs="0"/>
<xs:element name="no_ue" type="xs:string" minOccurs="0"/>
<xs:element name="nr_cnpj" type="xs:string" minOccurs="0"/>
<xs:element name="nr_cpf" type="xs:string" minOccurs="0"/>
<xs:element name="nr_partido" type="xs:string" minOccurs="0"/>
<xs:element name="sg_partido" type="xs:string" minOccurs="0"/>
<xs:element name="sg_ue" type="xs:string" minOccurs="0"/>
<xs:element name="sg_ue1" type="xs:string" minOccurs="0"/>
<xs:element name="sg_ue_superior" type="xs:string" minOccurs="0"/>
<xs:element name="sg_ue_superior1" type="xs:string" minOccurs="0"/>
<xs:element name="situacaocadastral" type="xs:string" minOccurs="0"/>
<xs:element name="vr_despesa" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>